* {
  margin: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
input[type="text"] {
  /* border: none; Removes border */
  outline: none; /* Removes focus outline */
  font-family: inherit; /* Resets font to inherit from parent */
  line-height: normal; /* Resets line height */
  box-shadow: none; /* Removes box shadow */
  -webkit-appearance: none; /* Removes default webkit styling */
  -moz-appearance: none; /* Removes default Mozilla styling */
  appearance: none; /* Removes default styling for other browsers */
  margin: 0.8em;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  width: 100%;
  margin: auto;
}
.sub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 0.8em;
}
.create-btn {
  align-self: self-end;
  background-color: #8abab4;
  border: 2px solid black;
  border-radius: 12px;
  box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.25);
  padding: 0.5em 1.2em;
  cursor: pointer;
  transition: box-shadow 0.1s, transform 0.1s;
  font-weight: bolder;
}
.create-btn:active {
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: translate(4px, 4px);
}
.create-btn:hover {
  background-color: hsla(173, 26%, 66%, 2);
}
.title-input {
  background-color: #b4c6e2;
  padding: 1em;
  border-radius: 15px;
  border: none;
}
input[type="text"]::placeholder {
  color: rgb(0, 0, 0);
  font-weight: bold;
  opacity: 1;
}
.description-input {
  background-color: #b4c6e2;
  padding: 1em;
  padding-bottom: 4em;
  border-radius: 15px;
  border: none;
}
.question-div {
  margin: 0.8em;
  border-radius: 15px;
  background-color: #b4c6e2;
  align-items: center;

  margin-bottom: 1em;
}
.question-number {
  background: transparent;
  border: none;
}
.divider {
  color: black;
}
.inner-question-container {
  text-align: center;
}
/* i cant seem to style the radio buttons */
input[type="radio"] {
  outline-color: black;
}
.radio-input {
}
.option-input {
  background: transparent;
  border-style: none;
  border-bottom: solid 1px black;
}
