/* resets */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* actual styling */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.title-container {
  max-width: 700px;
  width: 100%;
  background-color: #b4c6e2;
  border-radius: 15px;
  padding: 0.8em;
  margin-top: 2em;
}
h3 {
  margin-top: auto 0;
}
.form-container {
  max-width: 725px; /* dont touch this line. fucks up the alignment if you touch it */
  width: 100%;
  display: flex;
  flex-direction: column;
}
.question-container {
  background-color: #b4c6e2;
  border-radius: 15px;
  padding: 1em;
  margin-bottom: 1em;
}
.selection {
  background-color: hsla(171, 26%, 75%, 0.25);
  border: 5px solid hsla(216, 49%, 47%, 0.25);
  border-radius: 15px;
  padding: 0.8em;
  margin-top: 0.8em;
}
.submit-btn {
  align-self: self-end;
  background-color: #8abab4;
  border: 2px solid black;
  border-radius: 12px;
  box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.25);
  padding: 0.8em 1em;
  margin-bottom: 2em;
  cursor: pointer;
  transition: box-shadow 0.1s, transform 0.1s;
}
.submit-btn:active {
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: translate(4px, 4px);
}
.submit-btn:hover {
  background-color: hsla(173, 26%, 66%, 2);
}
